<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>

      <service>
        <wellknown mode="Singleton"
                   type="LookUpLib.WellKnownSingleton, LookUpLib"
                  objectUri="LookUp.soap" />
      </service>
      
      <channels>
        <channel port = "8080"
                 ref = "http">
        </channel>
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>